<style type="text/css">
h2{
	font-weight:300;
	font-size:24px;
}
</style>
<div class="review_agreement_container">
	
	<h2 class="review_title" style="font-size:35px; background-color:#008fd1; color: #FFF; padding:12px; border-radius: 5px; text-align: center; box-shadow: 1px 1px 2px 0px #999999; margin-top:10px; font-weight:100">
		Service Agreement
	</h2>
	<div style="padding-bottom:10px;border-bottom: 1px solid #008fd1;">
	<h2 style="font-size:16px; line-height: 8px;"><span style="font-weight:900;">Project Title:</span> {{.agreement.Title}}</h2>
	<h2 style="font-size:16px; line-height: 8px;"><span style="font-weight:900;">Freelancer:</span> {{.SENDER_FULLNAME}}</h2>
	<h2 style="font-size:16px; line-height: 8px;"><span style="font-weight:900;">Client:</span> {{.RECIPIENT_FULLNAME}}</h2>
	<h2 style="font-size:16px; line-height: 8px;"><span style="font-weight:900;">Date:</span>{{.DATE_CREATED}}</h2>
	</div>
	<h2 class="agreement_title" style="font-size:24px;font-weight:300;">Agreement Summary</h2>
	<div class="proposed_services_container">{{.agreement.ProposedServices | unescape}}</div>
	<h2 class="agreement_title" style="font-size:24px;font-weight:300;">Accepted Methods of Payment</h2>
	<div class="payment_method_review_container">
		{{if .agreement.AcceptsCreditCard}}
			<span style="color:white;background:#86CE50;padding-top:4px;padding-left:2px;margin-left:10px;">&#10003;</span><span> Credit Card</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{{end}}
		{{if .agreement.AcceptsBankTransfer}}
			<span style="color:white;background:#86CE50;padding-top:4px;padding-left:2px;">&#10003;</span><span> Bank Account</span>
		{{end}}
	</div>
	<div id="work-items-section" style="list-style-type: none;">
		<h2 class="agreement_title" style="font-size:24px;font-weight:300;">Payment Schedule</h2>
		{{range .agreement.WorkItems}}
      <li class="payment_milestone" style="border-top: 1px solid rgb(245, 245, 245); padding: 10px 0; margin-top: 5px;"><span style="font-weight:900;">${{.Amount}}</span> &mdash; {{.Title}} {{if .Required}}{{else}}on {{.DateExpected | formatDate}}{{end}}</li>
    	<ul>
    		{{range .ScopeItems}}
    		<li>{{.Text}}</li>
    			{{end}}
    	</ul>
      {{end}}
	</div>
	<div>
		<h2 class="agreement_title review_agreement_total" style="border-top: 2px solid #008fd1; padding-top: 10px;">Agreement Total:
			<span style="font-weight:900;"> ${{.totalAmount}} </span></h2>
	</div>
</div>