<style>
    @import url(https://d3kq8dzp7eezz0.cloudfront.net/css-35/landing.css);

    body {
    	background:white;
    }

    p {
    	margin-bottom: 11px;
    }

    .checkbox {
		background: hsl(0, 100%, 100%);
		border-radius: 3px;
		border: 2px solid hsl(0, 0%, 50%);
		font-weight: bold;
		position: absolute;
		left: -2px;
		line-height: 16px;
		overflow: hidden;
		text-align: center;
		text-indent: 100%;
		top: 11px;
		height: 18px;
		width: 18px;
		white-space: nowrap;
		padding: 3px 0;
	}

	.task {
		text-align: left;
		position: relative;
		top: 10px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		left:25px;
	}

	.task_item {
		text-align: left;
		position: relative;
		top: -2px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		margin-top:4px;
	}
</style>



<div style="position:relative;overflow:hidden;width:1102px;margin:60px auto; border: 1px solid hsl(200, 82%, 43%);">
	<div style="background-color: hsl(200, 80%, 43%);padding: 35px 50px 25px;overflow:hidden;">
		<div style="float:left;width:640px;">
		<h1 style="color: hsl(0, 100%, 100%);margin: 0;padding: 0;font-size: 32px;line-height: 50px;font-weight: 300;">Elyse's Production Website</h1>
		<h2 style="margin: 0;padding: 0;line-height: 28px;color: hsl(0, 100%, 100%);font-family: museo_sans;font-size: 16px;font-weight: 300;"><span style="text-transform: uppercase;font-weight: 300;font-size: 10px;font-family: museo sans;font-style: normal;">client:</span> Elyse Sara</h2>
		</div>
		<div style="float:right;width:280px;margin-top:9px;">
			<h2 style="text-align: right;padding: 0;margin: 0;line-height: 20px;color: hsl(0, 100%, 100%);font-family: museo_sans;font-size: 16px;font-weight: 300;">
				Marcus Ellison</h2>
			<p style="color: hsl(0, 100%, 100%);text-transform: uppercase;font-weight: 300;font-size: 10px;font-family: museo_sans;font-style: normal;text-align:right;margin:0;">Freelancer</p>
			<h2 style="text-align: right;padding: 0;margin: 0;line-height: 20px;color: hsl(0, 100%, 100%);font-family: museo_sans;font-size: 16px;font-weight: 300;text-transform:uppercase;">January 22nd, 2014</h2>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div style="padding:20px 30px 30px 30px;float:left;width:640px;margin-top:20px">
		<h2 style="color: hsl(198, 100%, 35%);font-weight: 300;margin: 0;padding: 0;font-size:24px;line-height:38px;">Tasks</h2>
		<ul style="margin:0 0 20px 0;padding: 0;list-style: none;">
			<li style="border-bottom: 1px dashed hsl(186, 34%, 84%);padding: 15px 5px;list-style: none;overflow: hidden;">
				<h3 style="font-size: 18px;line-height: 29px;font-weight: 300;text-transform: uppercase;color: hsl(198, 100%, 35%);float:left;">Final Payment</h3>
				<span style="display: block;font-size: 12px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);">Due August 16th, 2014</span>
				<ul style="list-style-type: none;margin: 0;margin-bottom: 10px;padding-left:20px;list-style:none;clear:both;">
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">About Us Page</div>
					</li>
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">Services Page</div>
					</li>
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">Roster Page</div>
					</li>
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">Contact Page</div>
					</li>
				</ul>
			</li>
			<li style="border-bottom: 1px dashed hsl(186, 34%, 84%);padding: 15px 5px;list-style: none;overflow: hidden;">
				<h3 style="font-size: 18px;line-height: 29px;font-weight: 300;text-transform: uppercase;color: hsl(198, 100%, 35%);float:left;">Final Payment</h3>
				<span style="display: block;font-size: 12px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);">Due July 4th, 2014</span>
				<ul style="list-style-type: none;margin: 0;margin-bottom: 10px;padding-left:20px;list-style:none;clear:both;">
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">About Us Page</div>
					</li>
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">Services Page</div>
					</li>
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">Roster Page</div>
					</li>
					<li class="task_item">
						<div class="checkbox"></div>
						<div class="task">Contact Page</div>
					</li>
				</ul>
			</li>
		</ul>

	</div>
	<div style="padding:20px 30px 30px 30px;float:right;background: hsl(0,0%,96%);width:380px;margin:30px;">
		<h2 style="color: hsl(198, 100%, 35%);margin: 0;padding: 0;font-weight: 100;font-size: 22px;">Agreement Overview</h2>
		<div>
			<p>Marcus will be building a wordpress based website for Elyse using the Goodways Entertainment and Film wordpress theme: http://themeforest.net/item/goodways-entertainment-and-film-wordpress-theme/full_screen_preview/3250071</p>
			<p>The theme will be adapted to utilize 4 pages:</p>
			<p>- About us (basic description)</p>
			<p>- Services page (description and pictures)</p>
			<p>- Roster Page (list of directors and DP's represented along with their video reel</p>
			<p>- Contact us page</p>
		</div>
		<h2 style="color: hsl(198, 100%, 35%);margin: 0;padding: 0;font-weight: 100;font-size: 22px;">Payment Schedule</h2>
		<ul style="list-style:none;">
			<li>
				<div><span style="font-weight:300;font-size:16px;font-family:museo_sans;line-height:24px;">Deposit</span> <span style="color: hsl(0, 0%, 39%);float:right;font-weight:">$250</span></div>
				<div><span style="">Final Payment</span> <span style="color: hsl(0, 0%, 39%);float:right;">$250</span></div>
				<span style="display: block;font-size: 12px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;font-style: italic;margin-left: 11px;margin-top: -2px;">Expected on Jan 14, 2014</span>
			</li>
		</ul>

		<div style="font-size: 16px;text-transform: uppercase;font-weight: 900;color: hsl(0, 0%, 39%);"> <span style="float:left:">Total:</span> <span style="float:right;">$500</span> </div>
	</div>
	<div style="width:640px;position: absolute;bottom:0;padding:30px;">
		<p style="font-size: 12px;font-weight: 900;margin:0;font-style:italic;color:hsl(95, 56%, 57%);">Need to check the work status, amend the agreement, or handle payment?</p>
		<p style="margin: 0;text-transform: uppercase;font-size: 12px;font-weight: 300;">Go to <span style="color:hsl(198, 100%, 35%);font-weight: 600;text-transform: lowercase;font-size: 14px;">https://www.wurkhappy.com/#login</span> in your web browser.</p>
		<p style="margin: 0;text-transform: uppercase;font-size: 12px;font-weight: 300;">Your Email is: <span style="color:hsl(198, 100%, 35%);font-weight: 600;text-transform: lowercase;font-size: 14px;">marcus@wurkhappy.com</span></p>
	</div>
</div>