{{define "new_invoice_fixed"}}
<li style="border-bottom: 1px dashed hsl(186, 34%, 84%);padding: 15px 5px;list-style: none;overflow: hidden;position:relative;">
	<h3 style="font-size: 18px;line-height: 29px;font-weight: 300;text-transform: uppercase;color: hsl(198, 100%, 35%);float:left;">Design</h3>
	<span style="display: block;font-size: 16px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);margin-right: 12px;position:absolute;left:300px;">Hours</span>
	<span style="display: block;font-size: 16px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);margin-right: 12px;position:absolute;left:550px;">Rate</span>
	<span style="display: block;font-size: 16px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);margin-right: 12px;">Cost</span>
	<ul style="list-style-type: none;margin: 0;margin-bottom: 10px;padding-left:20px;list-style:none;clear:both;position: relative;top: 12px;">
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">About Us Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">Services Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">Roster Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">Contact Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
	</ul>
	<div style="overflow: hidden;position: relative;top: 10px;padding:10px;">
		<h4 style="color:hsl(0, 0%, 39%);font-size: 16px;font-weight: bold;float:left;">Subtotal:</h4>
		<h4 style="color:hsl(0, 0%, 39%);float:right;font-size: 16px;font-weight: bold;">$1200</h4>
	</div>
</li>
<li style="border-bottom: 1px dashed hsl(186, 34%, 84%);padding: 15px 5px;list-style: none;overflow: hidden;position:relative">
	<h3 style="font-size: 18px;line-height: 29px;font-weight: 300;text-transform: uppercase;color: hsl(198, 100%, 35%);float:left;">Development</h3>
	<span style="display: block;font-size: 16px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);margin-right: 12px;position:absolute;left:300px;">Hours</span>
	<span style="display: block;font-size: 16px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);margin-right: 12px;position:absolute;left:550px;">Rate</span>
	<span style="display: block;font-size: 16px;color: hsl(0, 0%, 50%);margin: 0 0 10px 0;text-align: left;font-weight: 500;float:right;color:hsl(38, 100%, 50%);margin-right: 12px;">Cost</span>
	<ul style="list-style-type: none;margin: 0;margin-bottom: 10px;padding-left:20px;list-style:none;clear:both;position: relative;top: 12px;">
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">About Us Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">Services Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">Roster Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
		<li class="task_item">
			<i class="fa fa-check"></i>
			<div class="task">Contact Page</div>
			<span class="line_item_payment">$300</span>
			<span class="line_item_payment line_item_hours">3</span>
			<span class="line_item_payment line_item_rate">$100</span>
		</li>
	</ul>
	<div style="overflow: hidden;position: relative;top: 10px;padding:10px;">
		<h4 style="color:hsl(0, 0%, 39%);font-size: 16px;font-weight: bold;float:left;">Subtotal:</h4>
		<h4 style="color:hsl(0, 0%, 39%);float:right;font-size: 16px;font-weight: bold;">$1200</h4>
	</div>
</li>
{{end}}